header {
  height: 70px;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    padding: 0 8%;
    box-shadow: 1px 2px 5px rgb(0, 0, 0,.5);   
    background:#18ace7fd;
    color: #c4c4c4;
    border-radius: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  header .logo{
    font-size: 5px;
    color: black;
    font-weight: 800;
    width: 70px;
    margin-top: 20px;
    margin-left: 55px;
    
    
  }

  ul li{
     position: relative;
     float:left;
     padding: 0 15px;
     margin-right: 40px;
  }

  ul li a{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 10px;
    text-align: center;
    transition: 0.3s ease;
    font-family: fantasy;

  }

  ul li a:hover{
    background: #000000;
    color: #fff;
    
  }

  nav ul li ul{
    position:absolute;
    left: 0;
    width: 150px;
    background: #d4d116;
    display: none;
    margin-top: 1px;
    padding: 8px 0;
  }

  nav ul li ul li{
    width: 100%;
    height: 100%;
    padding: 0px;
    border: 1px solid rgba(19, 19, 19, 0.9);
    box-shadow: 0px 10px 15px;

  }
  nav ul li ul li ul{
    left: 150px;
    top: 0;
    margin: 0px;
    box-shadow: 0px 10px 15px;
  }

  nav ul li:hover > ul {
    display: initial;
  }

  .menu{
    position: relative;
    width: 40px;
    height: 35px;
    background: transparent;
    cursor: pointer;
  }

  input[type=checkbox]{
    display: none;
  }

  .menu span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #000000;
    border-radius: 10px;
    transition: .5s;
  }

  .menu span:nth-child(1) {
    top: 0;
    transform-origin: left center;
  }

  .menu span:nth-child(2) {
     top: 50%;
     transform: rotateY(-50%);
     transform-origin: left center;

  }
    
  .menu span:nth-child(3) {
    top: 100%;
    transform: rotateY(-100%);
    transform-origin: left center;
  }
  
  input:checked ~ label span:nth-child(1) {
    transform: rotate(45deg);
    top: 0;
    left: 10px;
     
  }

  input:checked ~ label span:nth-child(2) {
    width: 0;
    opacity: 0;

  }

  input:checked ~ label span:nth-child(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 10px;
  }

  header label {
    display: none;
  }

  @media (max-width:1060px) {

    
    header nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #ffffffee;
        border: 1px solid rgb(94, 89, 89);
        display: none;
       }
       header nav ul li{
        width: 100%;
        background-color: rgba(20, 128, 25, 0.616);
       }
       header nav ul li ul{
        position: relative;
        width: 50%;
       } 
       header nav ul li ul li{
        background: #ccc;
        background-color: rgb(184, 42, 23);
        padding: 0px;
       }
       header nav ul li ul li ul{
        width: 100%;
        left: 0;
       }
       header nav ul li ul li ul li{
        background-color: rgba(29, 216, 216, 0.795);
       }
       header label{
        display: initial;
        margin-right: 20px;
       }
       #menu:checked ~ nav{
        display: initial;
       }
       header .logo{
        padding-top: 5px;
        margin-left: 20px;
       }
       nav ul li ul li{
        margin-top: -3px;
       }
       nav ul li ul li{
        padding-bottom: 5px;
       }
      
      }






















